body{
    background-image: url("image.jpg");
    background-repeat: no-repeat;   
    background-size: cover;
}
h1.title{
    color:black;
    align-content: center;
    position:relative;left: 300;
    position: relative;top: 30;
}
table{
    border:1; 
    align-content: center;
    position: relative;
    position: fixed; top: 300px; right: 5px ;left: 5px;
    flex-shrink: inherit;
    flex-wrap: wrap;
}
fieldset.visitor{
    align-content:flex-end;
    position:relative;left: 100; 
    flex-shrink: inherit;
    flex-wrap: wrap;       
}
font.visitor{
    align-content: center;
    font-size-adjust:16;
    flex-shrink: inherit;
    flex-wrap: wrap;
}
form.login{
    position:relative;left: 300;
    position: relative;top: 30;
    flex-shrink: inherit;
    flex-wrap: wrap;
}
form.studentportal{
    position:relative;left: -100;
    position: relative;top: 0;
    flex-shrink: inherit;
    flex-wrap: wrap;
}
fieldset.studentportal{
    position:relative;left: 350;
    position: relative;top: 30;
    flex-shrink: inherit;
    flex-wrap: wrap;
}
fieldset.hodportal{
    position:relative;left: -60;
    position: relative;top: 30;
}
table.hodportal{
    position:relative;left: -10;
    position: relative;top: 0;
}
i{
    color: solid-black;
}
form.visitor{
    background-size: cover;
}
button[type=login] {
	background-color: #FF0000;
	color: white;

	border: none;
	 }